@import 'styles/_materialize-var.scss';

.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= intervals {
    @media only screen and (min-width: 360 + ($i * $intervals - size)){
      font-size: 1.2rem * (1 + (0.2 * $i))
    }
    $i: $i + 1;
  }
  
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}

